rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /afterGala/{document=**} {
      allow read, write: if true; // Permite somente usuários autenticados
    }
  }
}
