.container2{
    margin: 0 auto; 
    margin-top: 2px;
}

@media (min-width: 768px) {
    .container2 {
        flex-direction: row; 
    }
}

@media (min-width: 1024px) {
    .container2 {
        max-width: 1024px;
    }
}

.container-contribuition{
    border-radius: 5px;
    position: relative; 
    margin-top: 20px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.box-eur{
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    display: flex;
    align-items: center; 
    padding-left: 12px;
}

.eur {
    color: #17CACE; /* Define a cor do texto */
    font-weight: 500; /* Define o peso da fonte como médio (equivalente a font-medium no Tailwind) */
}

.input-contribution {
    display: block; 
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding-top: 6px;
    padding-bottom: 6px; 
    padding-left: 56px; 
    padding-right: 24px; 
    color: #555;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #17CACE;
    background-color: transparent; /* Define o fundo transparente, se necessário */
    font-size: 14px; /* Define o tamanho da fonte como 14px (sm:text-sm no Tailwind) */
    line-height: 24px; /* Define o espaçamento entre linhas como 24px (sm:leading-6 no Tailwind) */
    outline: none; /* Remove o contorno padrão */
    transition: box-shadow 0.2s ease; /* Adiciona uma transição suave ao foco */
    margin-bottom: 12px;
    margin-top: 32px;
}

.input-contribution:focus {
    box-shadow: inset 0 0 0 2px #555; /* Anel de foco de 2px com a cor personalizada */
}

.input-contribution-other {
    display: block; 
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding-top: 6px;
    padding-bottom: 6px; 
    padding-left: 56px; 
    padding-right: 24px; 
    color: #555;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #17CACE;
    background-color: transparent; /* Define o fundo transparente, se necessário */
    font-size: 14px; /* Define o tamanho da fonte como 14px (sm:text-sm no Tailwind) */
    line-height: 24px; /* Define o espaçamento entre linhas como 24px (sm:leading-6 no Tailwind) */
    outline: none; /* Remove o contorno padrão */
    transition: box-shadow 0.2s ease; /* Adiciona uma transição suave ao foco */
    margin-bottom: 20px;
}

.input-contribution-other:focus {
    box-shadow: inset 0 0 0 2px #555; /* Anel de foco de 2px com a cor personalizada */
}

.box-amount{
    margin-top: 16px; 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contribution-amount{
    font-size: x-large;
    font-weight: bold;
}

.button-container2{
    margin-top: 2rem;
    display: flez;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 640px) {
    .eur {
        font-size: 14px;
    }
}

.container-contribuition2 {
    border-radius: 5px;
    position: relative; 
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.info-text2{ 
    font-size: medium;
    font-weight: bold;
    line-height: 24px;
    color: #555;
    flex: 1; 
    padding: 16px; 
    text-align: center;
    margin-bottom: 8px;
}

.info-text2:last-child {
    margin-bottom: 0;
}

.container-buttons-contribution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px
}

@media (min-width: 640px) { /* sm equivale a 640px */
    .container-buttons-contribution {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 40px; /* sm:px-10 equivale a 40px */
      padding-right: 40px;
      margin-bottom: 30px;
    }
  }

  .summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
}

.total-amount{
    font-size: large;
    font-weight: bold;
    color:black
}

.line-row hr.summary-divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    margin: 10px 0;
}
